<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

    <extensions>
      <add assembly="LogCast.NLog.Test" />
    </extensions>

    <targets async="false">
      <target name="logCast"
              xsi:type="LogCast"
              Endpoint="http://10.4.147.105"
              Throttling="100"
              RetryTimeout="0:1:2"
              SystemType="TEST"
              SendingThreadCount="1"
              SendTimeout="0:0:10"
              Layout="${processname}|${message}"
              FallbackLogDirectory="fallbackFolder"
              DaysToKeepFallbackLogs="24"
              EnableSelfDiagnostics="true" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logCast" />
    </rules>
  </nlog>
</configuration>