<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.diagnostics>
    <sources>
      <source name="TestSource" switchValue="Information"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="logCastListener" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="logCastListener"
           type="LogCast.Tracing.Test.Mocks.LogCastTraceListenerMock, LogCast.Tracing.Test"
           endpoint="http://10.4.147.105"
           systemType="TEST"
           throttling ="100"
           retryTimeout="0:1:2"
           sendingThreadCount="1"
           sendTimeout="0:0:30"
           layout="{date} | {message}"
           fallbackLogDirectory="fallbackFolder"
           daysToKeepFallbackLogs="333"
           skipPercentage ="0"
           enableSelfDiagnostics="true" />
    </sharedListeners>
  </system.diagnostics>
</configuration>