<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.diagnostics>

    <sources>
      <source name="TestSource" switchValue="Information" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="logCastListener"/>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="logCastListener" type="LogCast.Tracing.LogCastTraceListener, LogCast.Tracing" endpoint="http://kibana.test.247ms.com:9200" systemType="Examples" layout="{date:hh-mm-ss.fff tt} | {level} | {logger} | {message}"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
