<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>

  <system.diagnostics>
    <sources>
      <source name="logger" switchValue="Information" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear />
          <add name="logCastListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="logCastListener" type="LogCast.Tracing.LogCastTraceListener, LogCast.Tracing" endpoint="http://kibana.test.247ms.com:9200" systemType="Examples.WebApi" layout="{date:hh-mm-ss.fff tt} | {level} | {logger} | {message}" />
    </sharedListeners>
  </system.diagnostics>
  
</configuration>
