<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logCast" type="LogCast.Loggers.Direct.ConfigurationSection, LogCast"/>
  </configSections>
  <logCast type="Examples" endpoint="http://kibana.test.247ms.com:9200" logLevel="Info" layout="{date:hh-mm-ss.fff tt} | {level} | {logger} | {message}" throttling="1000" sendingThreadCount="12" enableSelfDiagnostics="true" fallbackLogDirectory="logs"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
