<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="logCastContextBehavior" type="LogCast.Wcf.Configuration.LogCastContextBehaviorElement, LogCast.Wcf, Version=8.2.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <logCastContextBehavior loggingPreset="All"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="logger" switchValue="Information" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="logCastListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="logCastListener" type="LogCast.Tracing.LogCastTraceListener, LogCast.Tracing, Version=8.2.0, Culture=neutral" endpoint="http://10.4.147.105:9200" systemType="Examples.WcfWebService" layout="{date:hh-mm-ss.fff tt} | {level} | {logger} | {message}"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>